.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-evenly;
  color: white;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: row;
  flex-direction: row;
  justify-content: space-evenly;
}
